/*

Color Scheme:
    Blue: #5558ff
    Orange: #FF860F
    Green: #B3F90E
    Light Gray: #F5F5F5

Fonts:
    Headings:
        font-family: 'Roboto Slab', "Times New Roman", Times, Helvetica, serif;
    
    Paragraph:
        font-family: 'Open Sans', "Times New Roman", Times, Helvetica, serif;

*/

/* ====================================
        STARTERS
======================================= */

html,
body {
  margin: 10;
  padding: 10;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  background-color: black;
  color: #b3f90e;
  line-height: 1.6;
}

/* * {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}



img {
  max-width: 100%;
  height: auto;
} */

/* ====================================
        TYPOGRAPHY
======================================= */

/* ====================================
        LAYOUT
======================================= */

/* --- GENERAL --- */

.grid {
  width: 420px;
  height: 420px;
  border: solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 15px;
  height: 15px;
}

.wall {
  background-color: blue;
}

.wall-horizontal {
  border-width: 5px;
  border-style: double;
  border-color: blue;
}

.pac-dot,
.power-pellet {
  background-color: #f4b191;
  box-sizing: border-box;
  border-radius: 50%;
}

.pac-dot {
  border: 5px solid black;
}

.power-pellet {
  border: 2px solid black;
}

/* --- CHARACTERS --- */

/* .pacman {
  background: url(../img/pacman-right.svg);
  background-color: #faff22;
  border-radius: 50%;
  border: none;
  position: relative;
  width: 15px;
} */

.pacman-right {
  background: url(../img/pacman-right.svg);
}

.pacman-left {
  background: url(../img/pacman-left.svg);
}

.pacman-up {
  background: url(../img/pacman-up.svg);
}

.pacman-down {
  background: url(../img/pacman-down.svg);
}

.pacman-mouth {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation: eat 0.7s ease 0s infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

.blinky,
.pinky,
.inky,
.clyde,
.scared-ghost {
  border: none;
}

.blinky {
  background: url(../img/ghost-yellow.svg);
}

.pinky {
  background: url(../img/ghost-pink.svg);
}

.inky {
  background: url(../img/ghost-aqua.svg);
}

.clyde {
  background: url(../img/ghost-red.svg);
}

.scared-ghost {
  background: url(../img/ghost-scared.svg);
}

/* --- HEADER --- */

/* --- BUTTONS --- */

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 30em) {
  /* width: 480px */
}

@media only screen and (min-width: 48em) {
  /* width: 768px */
}

@media only screen and (min-width: 60em) {
  /* width: 960px */
}

@media only screen and (min-width: 72.5em) {
  /* width: 1160px */
}
